{% extends "GamePyApp/base_html.html" %}
{% block title %}Objectives Index{% endblock %}
{% block content %}
<div class="gamepy-objective-row row justify-content-around">
    {% for objective in objectives %}

    <div class="gamepy-objective-item col-12 col-md-5 col-lg-3 row py-3 mb-2 mx-1 border border-2 rounded shadow-sm">

        <div class="col-3 col-md-2 text-center align-content-center">
            <input class="gamepy-checkbox-transform" type="checkbox" id="objective-{{ objective.uuid }}"
                name="objective-{{ objective.uuid }}" data-uuid="{{objective.uuid}}"
                onchange="handleCheckbox(this, event)" {% if objective.completed %}checked{% endif %}>
        </div>

        <div class="col-9 col-md-10 align-content-center">

            <label for="objective-{{ objective.uuid }}">
                {{ objective.title }}
            </label>

        </div>

    </div>
    {% endfor %}
</div>
    {% include "objectives/input_form.html" %}

{% endblock %}