:root {
    --background-color: #282A36;
    --foreground-color: #F8F8F2;
    --current-color: #44475A;
    --comment-color: #6272A4;

    --primary-color: #003049;
    --secondary-color: #669BBC;
    --destructive-color: #780000;
    --destructive-color-hover: #C1121F;
    --neutral-white: #FAFAFA;
}

body {
    color: var(--foreground-color) !important;
    user-select: none;
}

label,
input {
    cursor: pointer;
}

.gamepy-app-body {
    background-color: var(--background-color);
}

.gamepy-app-header {
    background-color: var(--current-color);
}

.gamepy-app-spinner {
    visibility: hidden;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(250, 250, 250, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.gamepy-objective-row {
    padding-bottom: 150px;
}

.gamepy-form-container {
    height: 100px;
    background-color: var(--current-color);
    position: fixed;
    bottom: 0;
}

.gamepy-checkbox-transform {
    transform: scale(2);
}

.gamepy-objective-item {
    background-color: var(--current-color);
    min-height: 100px;
}

.gamepy-objective-item:hover {
    cursor: pointer;
    background-color: var(--comment-color);
    transition: all .4s ease;
}

.gamepy-input-text {
    background-color: var(--background-color);
    color: var(--foreground-color);
    height: 75px;
    font-size: 1rem;
}

.gamepy-image-preview {
        max-width: 100px;
        max-height: 100px;
}

@media (min-width: 769px) {
    .gamepy-objective-item {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .gamepy-objective-item {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .gamepy-objective-item {
        font-size: 1rem;
    }
}